<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.bowin.user') %>:</strong>
    </td>
    <td>
      <%= @bowin.user %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.bowin.bank') %>:</strong>
    </td>
    <td>
      <%= @bowin.bank %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.bowin.clabe') %>:</strong>
    </td>
    <td>
      <%= @bowin.clabe %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.bowin.name') %>:</strong>
    </td>
    <td>
      <%= @bowin.name %>
    </td>
  </tr>
</table>