<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.receife.user') %>:</strong>
    </td>
    <td>
      <%= @receife.user %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.receife.bank') %>:</strong>
    </td>
    <td>
      <%= @receife.bank %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.receife.clabe') %>:</strong>
    </td>
    <td>
      <%= @receife.clabe %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.receife.name') %>:</strong>
    </td>
    <td>
      <%= @receife.name %>
    </td>
  </tr>
</table>