<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.pay.user') %>:</strong>
    </td>
    <td>
      <%= @pay.user %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.pay.bank') %>:</strong>
    </td>
    <td>
      <%= @pay.bank %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.pay.name') %>:</strong>
    </td>
    <td>
      <%= @pay.name %>
    </td>
  </tr>
</table>