<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.line1') %>:</strong>
    </td>
    <td>
      <%= @address.line1 %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.line2') %>:</strong>
    </td>
    <td>
      <%= @address.line2 %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.line3') %>:</strong>
    </td>
    <td>
      <%= @address.line3 %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.state') %>:</strong>
    </td>
    <td>
      <%= @address.state %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.city') %>:</strong>
    </td>
    <td>
      <%= @address.city %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.postal_code') %>:</strong>
    </td>
    <td>
      <%= @address.postal_code %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.address.country_code') %>:</strong>
    </td>
    <td>
      <%= @address.country_code %>
    </td>
  </tr>
</table>