<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.card_id') %>:</strong>
    </td>
    <td>
      <%= @card.card_id %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.card_number') %>:</strong>
    </td>
    <td>
      <%= @card.card_number %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.holder_name') %>:</strong>
    </td>
    <td>
      <%= @card.holder_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.expiration_year') %>:</strong>
    </td>
    <td>
      <%= @card.expiration_year %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.expiration_month') %>:</strong>
    </td>
    <td>
      <%= @card.expiration_month %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.allows_charges') %>:</strong>
    </td>
    <td>
      <%= @card.allows_charges %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.allows_payouts') %>:</strong>
    </td>
    <td>
      <%= @card.allows_payouts %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.creation_date') %>:</strong>
    </td>
    <td>
      <%= @card.creation_date %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.bank_name') %>:</strong>
    </td>
    <td>
      <%= @card.bank_name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.bank_code') %>:</strong>
    </td>
    <td>
      <%= @card.bank_code %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.customer_id') %>:</strong>
    </td>
    <td>
      <%= @card.customer_id %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.points') %>:</strong>
    </td>
    <td>
      <%= @card.points %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.card.addresses') %>:</strong>
    </td>
    <td>
      <%= @card.addresses %>
    </td>
  </tr>
</table>