
          
    <div class="panel-body">
    <div class="form-group">
        <%= f.label :card_id, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :card_id, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :card_number, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :card_number, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :holder_name, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :holder_name, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :expiration_year, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :expiration_year, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :expiration_month, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :expiration_month, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :allows_charges, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :allows_charges, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :allows_payouts, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :allows_payouts, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :creation_date, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :creation_date, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :bank_name, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :bank_name, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :bank_code, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :bank_code, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :customer_id, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :customer_id, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :points, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :points, class:'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :addresses, class:'col-sm-2 control-label'  %>
        <div class="col-sm-8">
          
            <%= f.text_field :addresses, class:'form-control' %>
        </div>
      </div>
  </div>
