<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.account.user') %>:</strong>
    </td>
    <td>
      <%= @account.user %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.account.bank') %>:</strong>
    </td>
    <td>
      <%= @account.bank %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.account.clabe') %>:</strong>
    </td>
    <td>
      <%= @account.clabe %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.account.name') %>:</strong>
    </td>
    <td>
      <%= @account.name %>
    </td>
  </tr>
</table>